.logo-width{
    width: 200px;
}

.input-width{
    width: 150px;
    height: 30px;
}

.mar-right{
    margin-right: 10px;
}

.pad-top{
    padding-top: 30px;
}

.pad-bottom{
    padding-bottom:60px ;
}

.pad{
    padding: 15px 10px;
}

/* li:hover{
    background-color: yellow;
} */


.main-card{
    width: 80vw;
    margin: 0 auto;
}

.card-width{
    width: 18vw;
}

.card-padding{
    padding: 40px 0px;
}

.icon{
    border-radius: 70px;
}


.icon-width{
    width: 12vw;
}

.main-icon-card{
    width: 80vw;
    margin: 0 auto;
}



@media only screen and (max-width: 430px) {
   
    
    #footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #font{
        font-size: 1rem;
    }

    #heading{
        font-size: 1.3rem;
    }

    #sub-nav{
        display: flex;
        flex-direction: column;
        /* width: 430px; */
        /* margin: 0 auto; */
        padding: 10px;
        font-size: 3rem;

    }

    #sub-nav-ul{
        width: 430px;
        margin: 0 0 0 40px;
        justify-content: left;
        padding: 5px;
    }

    #nav-div{
        width: 54vw;
    }
    
}