*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


.d-flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align: start;
}

.list-none{
    list-style: none;
}

.text-dec{
    text-decoration: none;
}


.font{
    font-size: 1.3rem;
}

.font-1{
    font-size: 1.5rem;
}

.font-2{
    font-size: 2rem;
}

.font-3{
    font-size: 2.5rem;
}

.font-4{
    font-size: 4rem;
}

.font-5{
    font-size: 5rem;
}

.g-1{
    gap: 10px;
}

.g-2{
    gap: 15px;
}

.g-3{
    gap: 20px;
}

.g-4{
    gap: 30px;
}

.g-5{
    gap: 40px;
}

.pd-1{
    padding: 10px;
}

.pd-2{
    padding: 15px;
}


.pd-3{
    padding: 20px;
}


.pd-4{
    padding: 25px;
}


.pd-5{
    padding: 30px;
}

.mar-1{
    margin: 10px;
}







.bg-purple{
    background-color: purple;
}

.bg-light-purple{
    background-color: #c80ac8;
}

.bg-light-gray{
    background-color: gainsboro;

}

.text-purple{
    color: purple;
}

.text-yellow{
    color: yellow;
}

.text-white{
    color: white;
}

